
<!DOCTYPE html>

<html lang="en">
    <head>
        <script>
            var connect = function () {
                var source = new EventSource('/register');

                // Handle correct opening of connection
                source.addEventListener('open', function (e) {
                    console.log('Connected.');
                });
                
                // Update the state when ever a message is sent
                source.addEventListener('message', function (e) {
                    var state = JSON.parse(e.data);
                    console.log("New state: " + state.text);
                    var element = document.getElementById("state");
                    element.innerHTML = state.text;
                }, false);

                // Reconnect if the connection fails
                source.addEventListener('error', function (e) {
                    console.log('Disconnected.');
                    if (e.readyState == EventSource.CLOSED) {
                        connected = false;
                        connect();
                    }
                }, false);
           
            
            var source2 = new EventSource('/register2');

            // Handle correct opening of connection
            source2.addEventListener('open', function (e) {
                console.log('Connected.');
            });
            
            // Update the state when ever a message is sent
            source2.addEventListener('message', function (e) {
                var state2 = JSON.parse(e.data);
                console.log("New state: " + state2.text);
                var element = document.getElementById("state2");
                element.innerHTML = state2.text;
            }, false);
            
            

            // Reconnect if the connection fails
            source2.addEventListener('error', function (e) {
                console.log('Disconnected.');
                if (e.readyState == EventSource.CLOSED) {
                    connected = false;
                    connect();
                }
            }, false);
        };
        </script>
        <link href="../static/css/dashboardConcejal.css" rel="stylesheet"></link>   
    </head>
    <body onload="connect();">
        <table align="center" cellpadding="2" cellspacing="2" border="0">
  <tbody align="center">
    <tr>
	<td><div class="barras" style="background-color:#BDDA4C">&nbsp;</div></td>
	<td><div class="barras" style="background-color:#FF9A68">&nbsp;</div></td>
    </tr>
    <tr>
	<td><span id="state"><label th:text="${state.text}"></label></span></td>
	<td><span id="state"><label th:text="${state2.text}"></label></span></td>
    </tr>
    <tr>
	<td><strong><div class="verticalmente">Nº de votos positivos</div></strong></td>
	<td><strong><div class="verticalmente">Nº de votos negativos</div></strong></td>
    </tr>
  </tbody>
</table>
    </body>
</html>